@import "../../src/assets/scssRule/rule.scss";
@import "../../src/assets/scssRule/all.scss";


// ===================RWD============================

// 手機
@media screen and (max-width: 850px) {
    .header {
        padding: 5px 16px !important;

        ul.nav_btn {
            display: none;
        }

    }
}

// ===============================================

.header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 8vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: $color_white;
    z-index: 800;

    .logo {
        width: 120px;

    }

    .only_logo {
        display: none;
    }

    /* 表頭功能列 */
    .nav_btn {
        box-sizing: content-box;
        height: 30px;
        padding: 5px 30px;
        display: flex;
        align-items: center;
        gap: 0 2rem;
        border-radius: $border_radius_20px;
        background-color: $color_gray3;

        li {
            font-size: 1rem;

            a {
                color: $color_black;
            }

            &:hover {
                font-weight: 600;
            }
        }
    }

    .user {
        width: 120px;
        display: flex;
        justify-content: flex-end;
        position: relative;


        .user_box {
            @include size(32px, 32px);
            border-radius: 100%;
            background-color: $color_yellow;
            z-index: 0;

            img {
                width: 100%;
            }
        }

        .menu_box {
            display: none;
            @include size(32px, 32px);

            img {
                width: 100%;

            }

            @media (max-width: 850px) {
                display: block;
            }
        }

        .popup-content {
            display: none;
            position: absolute;
            top: 110%;
            right: 0;
            z-index: 999;


        }

        .hover-trigger:hover+.popup-content,
        .popup-content:hover {
            display: block;
        }


    }

}

.visible {
    /* display: flex; */
    top: 0;
    transition: top 0.5s ease-in-out;
}

.hidden {
    display: none;
    // top: -80px;
    transition: top 0.5s ease-in-out;
}